.main-title-head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.6em;
}

.main-title-head-category-news {
  grid-column: 1/4;
  margin-top: -2.7em;
}

.main-title-head-sidebar-news {
  grid-column: 1/2;
  margin-bottom: 0;
  margin-top: 1.5em;
  padding-bottom: -20px;
}

.main-title-head-sidebar {
  display: grid;
  grid-template-columns: 1fr;
}

.main-title-head > div {
  border-bottom: 2px solid #254441;
  margin-bottom: 0.5em;
}

.main-title-head h5 {
  color: #202021;
  font-size: 1.6em;
  font-weight: 400;
  word-spacing: 3px;
  font-family: "georgia";
  padding-bottom: auto;
  margin-bottom: 0;
}

.main-title-head-sidebar h5 {
  color: #202021;
  font-size: 1.6em;
  font-weight: 400;
  word-spacing: 3px;
  font-family: "georgia";
  padding-bottom: auto;
  margin-bottom: 0;
}

.main-title-head-sidebar > div {
  border-bottom: 2px solid #254441;
  margin-bottom: 0.2em;
}

.category-highlights {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: 3fr 1fr;
}

.category-highlights-news {
  display: grid;
  grid-gap: 1.2em;
  grid-template-columns: repeat(3, 1fr);
}

.category-highlights-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 20px; */
}

.card-news {
  /* display: grid; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 13.5vw);
}

.card-news:hover {
  opacity: 0.7;
}

.category-highlights-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 20px; */
}

.desc {
  /* padding: 15px; */
  /* top: 2px; */
  padding: 15px;
  text-align: center;
  font-size: 0.8em;
}

.desc-popular-news {
  /* margin-top: -8em; */
  font-size: 0.8em;
  font-weight: bold;
  /* border-bottom: solid 2px #448e88; */
}

.desc-popular-news h6 {
  font-style: italic;
  font-weight: normal;
}

@media screen and (max-width: 600px) {
  .main-title-head {
    display: grid;
    grid-template-columns: 1fr;
  }

  .main-title-head-category-news {
    margin-top: 1em;
  }

  .main-title-head-sidebar-news {
    display: block;
  }

  .category-highlights-news .card-news .gallery-img {
    height: auto;
    max-height: 90px;
    width: 100%;
    margin-top: 10px;
    display: block;
    grid-template-rows: 20px;
    /* min-height: 200px; */
    object-fit: cover;
  }

  .category-highlights {
    display: grid;
    grid-gap: 1.2em;
    grid-template-columns: 1fr;
  }

  .category-highlights-news {
    display: block;
    grid-gap: 1.2em;
    grid-template-columns: 2fr;
  }

  .category-highlights-sidebar > div {
    display: blok;
    margin-top: 15px;
    /* grid-template-rows: 20px; */
  }

  .card-news {
    /* display: grid; */
    display: grid;
    grid-gap: 2em;
    /* margin: 10px; */
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 25vw);
  }

  .category-highlights-sidebar > div {
    display: blok;
    margin-top: 15px;
    /* grid-template-rows: 20px; */
  }

  .desc {
    text-align: left;
    font-size: 0.75em;
    padding: 0px;
    padding-top: 15px;
  }

  .desc p {
    bottom: 100px;
  }
}

@media screen and (min-width: 1401px) {
  .desc-popular-news {
    margin-top: -10em;
  }
}
@media screen and (min-width: 1401px) and (max-width: 1680px) {
  .desc-popular-news {
    margin-top: -6em;
  }
}
